.menu{
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
    
    .link:hover{
    font-size: 22px;
    background: rgb(98,218,178);
background: radial-gradient(circle, rgba(98,218,178,1) 100%, rgba(231,235,167,1) 100%);
    }
    
    .link{
    background-color: lightblue;
    float: left;
    color: white;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20;
}
body{
    background: lightblue;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    position: absolute;
    
}
.picture{
    margin-bottom: 20px;
    margin-top: 70px;
    width: 400;
    border-radius: 30%;
        
}
#line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
img:hover{
    transform: scale(0.9);
}
#people{
    height: 200px;
    width: 250
}
.green{
    font-size: 22px;
    background-color: lightblue;
    float: left;
    color: white;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20;
}
.green hover{
    background-color: aqua
}